.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75em 1.5em;
  background-color: #130a30;
  gap: 1em;

  .header-link {
    color: #dce7fb;
    margin-left: 1em;
  }
}

.logo-link {
  display: flex;
  align-items: center;
  flex-direction: column;

  .logo__image {
    width: 80px;
  }

  .logo__heading {
    font-size: 1.25rem;
    color: #dce7fb;
  }
}
